<article class="post">
    <div class="title indent">
        <a href="/post/{{id}}">{{title}}</a>
        <span class="meta">By {{user.username}} on {{format_date created_at}}</span> 
    </div>
    
    <div class="contents indent">
        <p> {{post_contents}}</p>
    </div>
</article>